html {
  margin: 0px;
  padding: 0px;

  font: normal 100%/1.4 Georgia,serif;
}

.current {
  background-color: black;
  color: white;
}

.nav {
  margin: 0px;
  padding: 0px;

  list-style-type: none;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-size: 1.25rem;
}
